@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




/* Hover Effect for Cards */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

/* Custom Shadow */
.shadow-lg {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* styles/globals.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
}
