@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Rubik+Wet+Paint&display=swap');

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .open-sans-new {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
body{
    background-color: black;
}
