# ============================
# General Files and Folders
# ============================
# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary Files
*.tmp
*.swp

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Files
/build/
/dist/

# System Files
.DS_Store
Thumbs.db

# ============================
# Backend Specific
# ============================
# Node.js Dependencies
node_modules/

# Python Virtual Environment
venv/

# Python Bytecode
*.pyc
__pycache__/

# Saved Models and Data
models/
*.h5
*.pkl
*.csv
/data/

# Uploads or Temp Storage
/uploads/

# ============================
# Frontend Specific (React)
# ============================
# Node.js Dependencies
frontend/node_modules/

# Build Files
frontend/build/
frontend/.next/
frontend/out/

# Local Development Files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Debug Files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ============================
# IDE Specific
# ============================
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ============================
# Other Suggestions
# ============================
# If you're using Docker
docker-compose.override.yml
.dockerignore

# If you're using Git LFS
*.psd
*.zip
*.exe
*.iso
*.bin
