.admin-card-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.admin-card{
    width: 100vw;
    
    background-color: #000;
    margin: auto;
    padding: 15px;
    border-bottom: solid 1px white;
    text-align: center;
}

  