.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg.webp");
  max-height: auto;
}
.signup-form-container {
  background-color: transparent;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 95vh;
  padding: 20px;
  max-width: 500px;
}

.signup-form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0px;
  color: #333;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  gap: 0px; */
}

.signup-form input,
.signup-form .user-input,
.signup-form .MuiTextField-root {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  outline: none;
  box-shadow: none;
  transition: border-color 0.3s ease;
}



.signup-form button,
.sbmit-btn {
  background-color: #34355c;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 1rem;
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-left: 88px;
  transition: background-color 0.3s ease;
}


.signup-form a {
  text-align: center;
  font-size: 0.9rem;
  color: #2f0080;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 40px;
  transition: color 0.3s ease;
}

.signup-form a:hover {
  color: #3a3cb1;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 15px;
  }

  .signup-form {
    width: 100%;
    gap: 0px;
  }

  .signup-form button,
  .sbmit-btn {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}

.signup-form {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.signup-form button {
 background-color: #34355c;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

.glass {
  position: relative;
  background: rgb(197, 170, 170); /* Light translucent background */
  border-radius: 15px;
  backdrop-filter: blur(5px); /* Applies the glass-like blur */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Thin border to enhance the effect */
  padding: 20px;
  max-width: 500px;
  width: 100%;
  z-index: 1; /* Make sure it's above any background */
  overflow: hidden; /* Ensures child elements don't go outside the border */
}

/* Gradient overlay */
.glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 150, 0.1),
    rgba(0, 204, 255, 0.2)
  );
  z-index: -1; /* Puts the gradient behind the content */
}

.signup-form input::placeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
}