@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.content-center {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    min-height: 450px;
}
