.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.imageContainer {
  position: relative;
  height: 200px; /* Adjust for consistent height */
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 16px;
  background-color: #007b83; /* Accent color */
  color: white;
  margin: 0;
  border-top: 1px solid #eee;
}
