<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
          &nbsp;
          <h2 style="color: red; font-family: Arial, Helvetica, sans-serif;">Stay Finder</h2>
          &nbsp; &nbsp; &nbsp;
          <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active"  href="/">Home</a>
              <a class="nav-link" href="/listings">All Listings</a>
              <a class="nav-link" href="/listings/new">Add new Listing</a>
              <a class="nav-link" href="#">Book Slots</a>
            </div>
            <div class="navbar-nav ms-auto">
              <% if(!currUser ){ %>
              <a class="nav-link active"  href="/signup">Signup</a>
              <a class="nav-link" href="/login">Login</a>
              <% } %> <% if(currUser) { %>
              <a class="nav-link" href="/logout">Log out</a>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
    
</body>
</html>