/* StatusPage.css */

.status-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

label {
    font-weight: bold;
}

select {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f1f1f1; /* Change background on hover */
}

strong {
    color: #4CAF50; /* Use the same color for strong text */
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

p {
    text-align: center;
    font-style: italic;
    color: #888;
}

/* Add these styles to StatusPage.css */

.button {
    background-color: #FF6347; /* Change this color as desired */
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* You can assign specific colors for each button if needed */
.button-edit {
    background-color:white; /* Example color for edit button */
}



form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  button[type="submit"] {
    background-color: #28a745;
    color: white;
  }
  
  button[type="button"] {
    background-color: #dc3545;
    color: white;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  button[type="button"]:hover {
    background-color: #c82333;
  }
  