<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Module</title>
</head>
<body>
    <h1>Booking</h1>
    <form  method="post" action="/listings/book">

    </form>
</body>
</html>